{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>The Church Of Evangelism</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
	<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>

	<div id="site-content">
		<div class="site-header">
			<div class="container">
				<a href="{% url 'index' %}" id="branding">
					<img src="{% static 'dummy/nEW bIBLE.png' %}" alt="" class="logo" width="50px">
					<div class="logo-text">
						<h1 class="site-title">THE CHURCH OF EVANGELISM</h1>
						<small class="site-description" style="color: #eee;">Santuary Of Joy</small>
					</div>
				</a> <!-- #branding -->

				<!-- Default snippet for navigation -->
				<div class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item current-menu-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="menu-item"><a href="{% url 'about' %}">About</a></li>
						<li class="menu-item"><a href="{% url 'live' %}">Live Streamming</a></li>
						<li class="menu-item"><a href="{% url 'video' %}">Videos</a></li>
						<li class="menu-item"><a href="{% url 'article' %}">Articles</a></li>
						<li class="menu-item"><a href="#contact">Contact</a></li>

						<li class="menu-item"><a href="{% url 'about' %}#give">Give</a></li>
					</ul> <!-- .menu -->
				</div> <!-- .main-navigation -->

				<div class="mobile-navigation"></div>
			</div>
		</div> <!-- .site-header -->

		<main class="main-content">

			<div class="page">
				<div class="container">
					<h2 class="entry-title">THE CHURCH OF EVANGELISM</h2>
					<h3 class="section-title" id="about">HISTORY</h3>

					<p> Reverend Dr. Edith Adefunke Okubanjo is the founder of The Church Of Evangelism</p>
					<p> She was born in Lagos on July 22 1953 into the family of Reverend Adegbite Daniel Tella who
						pastored
						the Ebenezer Baptist Church, located on Campbel St, Lagos for 37 years, before he went to be
						with the Lord in 1964.
						Until his untimely passing in 2012, she was married to Elder Oloye Oladotun Okunowo Okubanjo in
						England, one of the greatest supporters of the Church and her ministry.
					</p>
					<p>
						Rev Edith Adefunke Okubanjo received the call of God upon her life in 1982 while she was
						studying
						abroad in the United States of America.
					</p>
					<p>
						On that fateful night, our Lord Jesus Christ appeared to her as she slept, anointed her with
						oil, and instructed her to go and preach the gospel; to heal the sick, and set those who have
						been held spiritually captive free. She accepted her charge, and has been doing so ever since.
					</p>
					<p>
						The name of The Church of Evangelism was revealed to her by the Almighty God during a night
						prayer section in 2001. She rose and answered the call, founding the Church of Evangelism at its
						home base inOsapa, Lekki
					</p>
					<p>
						Through her unceasing ministrations and efforts many sick have been healed in the name of Jesus
						Christ of Nazareth.
					</p>
					<figure class="align-left"><img src="{% static 'images/dddIMG_2239.jpg' %}" width="100%"></figure>
					<h3 class="section-title" id="about">PURPOSE OF THE CHURCH</h3>
					<p>Many people grow up attending church, yet if you ask them to biblically define the purpose of the
						church, not many can. The understanding of church goes back to the time of Christ Jesus on
						earth. During that time,
						most people spoke Greek and it is from this language we get the English word for church which is
						"Ekklesia". To the ancient Greeks, this meant "an assembly", or "a gathering". The Church of
						Evangelism (TCE) is an assembly, a gathering of God's people.</p>
					<p>
						Scripture is clear about how we, as Christians, should behave and operate in the church: with
						the power of love,
						unity and teamwork. TCE seeks to show others the same type of love that our Lord Jesus has shown
						us.
					</p>
					<p>
					<blockquote>
						"By this shall all men know that ye are my disciples, if ye have love one another." (John
						11:35).
					</blockquote>
					To work effectively, we need to exhibit the love that Jesus spoke about.
					</p>
					<p>
						People are attracted by love. When they see workers who flow together in genuine love, they are
						attracted. To foster love, unity,teamwork among church workers, the Church of Evangelism has put
						togetherthismanual with the help of the Holy Spirit. It is our prayer thatthis manual will cause
						TCE workers to be effective in their service for God and that such effectiveness will give rise
						to the manifestaion of unconditional love (modeled by Our Lord, Jesus Christ) that will permeate
						every aspect of the church.
					</p>


					<hr class="separator">


					<div class="row">
						<div style="margin-bottom: 50px;">
							<div class="col-md-12 col-lg-12 mb-5">
								<div class="feature-numbered">
									<div class="num">V</div>
									<h2 class="feature-title">Vision</h2>
									<p><b>To lead people from all backgrounds to real transformation and rest in Jesus
											Christ.</b>
									<blockquote>
										"Come unto me, all ye that labour and are heavy laden, and I will give you rest"
										(Matthew 11:28).
									</blockquote>
									</p>
								</div>
							</div>
						</div>


						<div class="col-md-3">
							<div class="feature-numbered">
								<div class="num">1</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To propagate the gospel of Jesus Christ all over the world</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="feature-numbered">
								<div class="num">2</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To lead people to heaven</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="feature-numbered">
								<div class="num">3</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To establish believers firmly in Bible-believing churches</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="feature-numbered">
								<div class="num">4</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To See that they abide by His Word</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-numbered">
								<div class="num">5</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To train believers to understand divine healing through prayer and fasting</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-numbered">
								<div class="num">6</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To build up prayer intercessors</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-numbered">
								<div class="num">7</div>
								<h2 class="feature-title">Mission Statement</h2>
								<p>To expand the Church of Evangelism all over Nigeria and beyond</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-numbered">

								<h3 class="section-title" id="give">Give</h3>
								<h2 class="project-subtitle" style="color: darkgoldenrod;">The Church Of Evangelism -
									First
									Bank</h2>
								<h3 style="color: darkgoldenrod;">
									2020185741
									</p>

							</div>
						</div>

					</div>



					<footer class="site-footer">
						<div class="container">
							<div class="pull-left">

								<address id="contact">
									<h3 class="section-title">Address</h3>
									<strong>The Church Of Evangelism</strong>
									<p>Opposite Green Spring School, Awoyaya, Ibeju-lekki, Lagos, Nigeria</p>
								</address>
								<hr class="separator">
								<h3 class="section-title">Contact</h3>
								<a href="#" type="tel" class="phone">+ 234 9134608255</a>
							</div> <!-- .pull-left -->
							<div class="pull-right">

								<div class="social-links">

									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>

								</div>

							</div> <!-- .pull-right -->

							<div class="colophon">Copyright 2022 The Church Of Evangelism. Designed by <a
									href="http://www.codave-design.com/" title="Designed by codave-design.com"
									target="_blank">codave-design.com</a>. All rights
								reserved.</div>

						</div> <!-- .container -->
					</footer> <!-- .site-footer -->
				</div>

				<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
				<script src="{% static 'js/plugins.js' %}"></script>
				<script src="{% static 'js/app.js' %}"></script>

</body>

</html>